

h2 {
    color: rgb(0, 0, 0);
    font: normal 1.8em Arial, Helvetica, sans-serif;
}

h6 {
    text-align: left;
}

body {
    color: rgb(0, 0, 0);    
    font-family: Arial, Helvetica, sans-serif;

    background-image: url('images/page_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}

ol {
    list-style: none;
    counter-reset: num;
    background: rgb(38, 60, 255);
    margin: 20px;
    padding: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    max-width: 190px;
    border-radius: 10px;
}

ol li {
    counter-increment: num;    
    list-style-position: outside;
    background: rgb(147, 163, 255);
    font-style: italic;
    padding: 5px;
}

ol li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ol li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ol li::before {
    content: "0" counter(num) " ";
    color: rgb(38, 60, 255);
    font-weight: bold;
    font-style: normal;
}

p {
    font-size: 1.2em;
    text-indent: 45px;
    max-width: 900px;
}

a {
    color: rgb(11, 56, 255);
    font-style: italic;
}

#myFace {
    float: right;
    padding: 15px;
}

.centered-text {

    margin: auto;
    width: 900px;

}

.list {
    text-align: center;
}


.myOl {
    display: inline-block;
    text-align: left;
}

.images {

    display: block;
    margin: auto;
    text-align: center;

}

.heading1 {
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(211, 211, 255);
    font-size: 1.2em;
    background: rgb(0, 9, 133);
    max-width: 1200px;    
    padding: 5px;
    border-radius: 10px;
}
