html {
    min-height: 100%;
}

body {
    color: rgb(255, 255, 255);    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

    background-image: url('images/page_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    min-height: 100%;
}

ol {
    list-style: none;
    counter-reset: num;
    background: rgb(38, 60, 255);
    margin: 20px;
    padding: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    max-width: 190px;
    border-radius: 10px;
}

h2 {
    color: rgb(255, 255, 255);
    font: bold 1.8em Arial, Helvetica, sans-serif;
}

ol li {
    counter-increment: num;    
    list-style-position: outside;
    background: rgb(147, 163, 255);
    font-style: italic;
    padding: 5px;
}

ol li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ol li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ol li::before {
    content: "0" counter(num) " ";
    color: rgb(38, 60, 255);
    font-weight: bold;
    font-style: normal;
}

p {
    font-size: 1.2em;
    text-indent: 45px;
    max-width: 900px;
}

a:link {

    color: rgb(147, 163, 255);
    font-style: normal;

}

a:visited {

    color: rgb(147, 163, 255);
    font-style: normal;

}

a:hover {
    
    color: rgb(255, 255, 255);
    font-style: normal;

}

nav {

    display: block;
    background: rgb(0, 9, 133); 
    padding: 1px;
    border-radius: 10px;
    max-width: 380px;
    margin: auto;

}

nav ul {

    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

}

nav li {

    background: rgb(147, 163, 255);
    padding: 6px;
    border-radius: 8px;
    display: inline;
    text-align: center;
    font-size: 1.2em;

}

nav a:link {

    color: rgb(194, 203, 255);
    font-style: normal;
    text-decoration: none;

}

nav a:visited {

    color: rgb(194, 203, 255);
    font-style: normal;
    text-decoration: none;

}

nav a:hover {
    
    color: rgb(255, 255, 255);
    font-style: normal;
    text-decoration: none;

}

table {

    margin-left: auto;
    margin-right: auto;

    border: solid 2px black;
    background-color: rgb(208, 227, 255);
    border-collapse: collapse;

    min-width: 700px;
    min-height: 400px;

}

caption {

    margin: 5px;

}

th {

    border: solid 2px black;
    background-color: rgb(130, 163, 255);
    font-weight: bold;
    padding: 3px;
    width: 30px;

}

tr, td {

    border: solid 2px black;
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-weight: normal;
    padding: 3px;
    width: 30px;
    text-align: center;

}

iframe {
    display: block;

    min-width: 820px;
    min-height: 630px;

    border: none;

    margin: auto;
}

fieldset {

    background-color: rgb(194, 203, 255);
    border-width: 10px;
    border-color: rgb(0, 9, 133);
    border-style: solid;
    padding: 20px;

}

textarea {

    resize: none;

}

#myFace {
    float: right;
    padding: 15px;
}

#state {
    max-width: 50px;
}

#zip {
    max-width: 100px;
}

#phone {
    max-width: 100px;
}

.centered-text {

    margin: auto;
    width: 900px;

}

.list {
    text-align: center;
}


.myOl {
    display: inline-block;
    text-align: left;
}

.images {

    display: block;
    margin: auto;
    text-align: center;

}

.heading1 {
    
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(211, 211, 255);
    font-size: 1.2em;
    background: rgb(0, 9, 133);
    max-width: 1200px;    
    padding: 5px;
    border-radius: 10px;
}